/* use mixin: Margin left and right at 10px to body tags and Margin left and right at 15px to div tags */
@mixin margin-10 {
	margin-left: 10px;
	margin-right: 10px;
}
@mixin margin-15 {
	margin-left: 15px;
	margin-right: 15px;
}

body {
	@include margin-10;
}
div {
	@include margin-15;
}
